java/try-amazon-kinesis/target
java/try-amazon-kinesis/.idea
java/try-amazon-kinesis/try-amazon-kinesis.iml
java/try-amazon-kinesis/try-amazon-kinesis.ipr
java/try-amazon-kinesis/try-amazon-kinesis.iws
